<section class="bg-[#323946] dark:bg-white   mx-auto overflow-hidden my-20 py-20"   id="Contact" >
      <h2 data-aos="fade-down" class="text-center italic text-4xl text-[#00eeff] font-bold mb-28 ">
    Contact Me
  </h2>

<div class= " container mx-auto  gap-10 grid grid-cols-1 lg:grid-cols-2 ">
    <div class=" bg-[#1f262f] dark:bg-white shadow-[0_0_20px_#00eaff] h-[700px]  rounded-3xl py-10  px-4 md:px-8 text-white dark:text-black"
         data-aos="fade-right"
         >
        <h3 class="text-3xl text-center font-bold mb-6">Send a Message</h3>
        <form (submit)="sendEmail($event)" >
                
        <div data-aos="fade-right"
         data-aos-delay="500" class=" my-4">
            <label for="first_name" class="block mb-2.5 italic text-lg  font-medium text-[#00eeff] ">Your Name</label>
            <input name="name" type="text" id="first_name" class="bg-[#323946] dark:bg-white  border dark:text-black  border-[#00eeff] text-white text-sm rounded-xl  focus:ring-brand focus:border-[#00eeff] block w-full px-4 py-3 hover:shadow-[0_0_20px_#00eaff]  placeholder:text-[#C0C0C0]" placeholder="Name" required />
        </div>
        <div data-aos="fade-right"
         data-aos-delay="1000" class=" my-4">
            <label for="Email-Address" class="block mb-2.5 italic text-lg  font-medium text-[#00eeff] ">Email Address</label>
            <input  name="email" type="email" id="Email-Address" class="bg-[#323946] dark:bg-white  dark:text-black  border border-[#00eeff] text-white  text-sm rounded-xl focus:ring-brand focus:border-[#00eeff] block w-full px-4 py-3 hover:shadow-[0_0_20px_#00eaff]  placeholder:text-[#C0C0C0]" placeholder="Email " required />
        </div>
        <div data-aos="fade-right"
         data-aos-delay="1500" class=" my-4">
            <label for="subject" class="block mb-2.5 italic text-lg  font-medium text-[#00eeff] ">Subject</label>
            <input  name="subject" type="text" id="subject" class="bg-[#323946] dark:text-black  dark:bg-white  border border-[#00eeff] text-white  text-sm rounded-xl focus:ring-brand focus:border-[#00eeff] block w-full px-4 py-3 hover:shadow-[0_0_20px_#00eaff]  placeholder:text-[#C0C0C0]" placeholder="subject " required />
        </div>
    <div class="my-4 " data-aos="fade-right"
         data-aos-delay="2000">
        <label for="message" class="block mb-2.5 italic text-lg  font-medium text-[#00eeff]">Your message</label>
<textarea name="message" id="message" rows="4" class="bg-[#323946] dark:bg-white  dark:text-black border border-[#00eeff] text-white  text-sm rounded-xl focus:ring-brand focus:border-[#00eeff] block w-full px-4 py-3 hover:shadow-[0_0_20px_#00eaff]  placeholder:text-[#C0C0C0]" placeholder="Write your thoughts here..."></textarea>
</div>
  <button data-aos="fade-up" data-aos-delay="100"  class="bg-[#00eeff] text-white px-5 py-3 rounded-xl my-10  w-full  font-semibold hover:bg-[#00eeff] transition">
     <i class="fa-solid fa-paper-plane "></i> Send Massage  @if (isloading) {
    <i class=" fas fa-spinner fa-spin"></i>
  }
    </button>
        </form>
    </div>
<div class=" mx-auto flex flex-col container   text-white dark:text-black "
     >
    <h2 data-aos="fade-left"
     data-aos-delay="500" class="text-4xl  font-bold mb-10">Let's Talk</h2>
    <p data-aos="fade-left"
     data-aos-delay="1000" class="font-semibold text-sm md:text-lg "><span class="maincolor text-2xl">I'm </span> always open to discussing new projects, creative ideas, or opportunities to be part of your vision. Feel free to reach out through any of these channels.</p>
     @for (contact of contacts; track $index) {
  <div 
    data-aos="fade-left"
    [attr.data-aos-delay]="$index * 300"
    class=" shadow-2xl bg-[#1f262f] dark:bg-white hover:shadow-[0_0_20px_#00eaff] rounded-3xl mt-10 p-8 flex items-center cursor-pointer"
  >
    <i class="{{contact.icon}} text-3xl maincolor me-5 mt-2"></i>

    <div>
      @if (contact.email) {
        <p class="text-white dark:text-black">{{contact.email}}</p>
      }

      @if (contact.phone) {
        <p class="text-white dark:text-black">{{contact.phone}}</p>
      }

      @if (contact.location) {
        <p class="text-white dark:text-black">{{contact.location}}</p>
      }
    </div>
  </div>
}

     
     <div class="bg-[#1f262f] dark:bg-white shadow-[0_0_20px_#00eaff] rounded-3xl mt-10 p-8">
            <h3 class="font-semibold  mb-10 italic text-2xl">Connect With Me</h3>
     <div class="flex items-center ms-5 justify-center  my-5  gap-3 md:gap-5">
       
    @for (social of socials; track $index) {
          <span 
      class="icon border-2 rounded-full w-12 h-12 lg:w-14 lg:h-14 px-4 md:px-0 flex items-center justify-center cursor-pointer relative"
      [ngStyle]="{'border-color': social.color || '#00eeff', 'color': social.color || '#00eeff'}"
      (click)="openLink(social.url)"
    >
      <i class="fa-brands {{social.icon}}  text-xl lg:text-2xl"></i>
      <span class="tooltip">{{ social.icon.replace('fa-', '').toUpperCase() }}</span>
    </span>
    }

  </div>
     </div>
</div>
</div>
</section>

