<div id="About"
  class="rounded-lg px-10 py-4 border border-[#00eeff] w-full max-w-4xl mx-auto relative backdrop-blur-md
         max-h-[80vh] overflow-y-auto
         bg-gradient-to-b  from-[rgba(0,0,0,0.85)]  to-[rgba(0,238,255,0.15)]
         dark:bg-gradient-to-b dark:from-[rgba(255,255,255,1)] dark:to-[rgba(0,238,255,0.55)]">
  <button class="absolute top-2 right-2 w-9 h-9 text-3xl bg-[#00eeff] rounded-lg text-white flex items-center justify-center" (click)="close()">&times;</button>
  <h3 class="text-3xl font-semibold md:mb-4  mb-10  text-[#00eeff]">About Me ✨</h3>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-center">

  <div class="md:col-span-1 flex justify-center ">
    <img src="/image/port3.jpg"
         alt="image me"
         class="w-48 h-48 rounded-full object-cover shadow-[0_0_20px_#00eaff]"/>
  </div>
  <div class="md:col-span-2">
    <h1 class="text-3xl font-bold mb-1 dark:text-black  mt-10 md:mt-0 text-white ">Esraa Samy🌟</h1>
    <p class="text-[#00eeff] mb-3 font-semibold text-xl md:text-2xl ">Front-End Developer Angular</p>
    <p class="text-white text-sm  dark:text-black md:text-lg mb-4">
 I’m a Front-End Developer Angular with 5 years of experience, including 2+ years specializing in Angular.  
  I create responsive, clean, and user-friendly web apps using TypeScript, NgRx, Tailwind, and PrimeNG.  
  I enjoy building scalable UI/UX and writing clean code while exploring new technologies.
    </p>
    <div class=" flex gap-3">
        @for (item of contacts; track $index) {
  <a
    [href]="item.type === 'email' ? 'mailto:' + item.value : item.url"
    target="_blank"
    class="bg-[#323946] text-white shadow-lg hover:scale-105 duration-200 rounded-lg py-1.5 px-3 flex items-center gap-2 cursor-pointer"
  >
    <i class="{{ item.icon }} text-sm"></i>
    <span class="text-sm font-medium">{{ item.name }}</span>
  </a>
}

        
    </div>
  </div>

</div>
<div class=" flex gap-3  flex-wrap mt-10 mb-8 ">
    @for (skill of skills; track $index) {
            <span  class="bg-[#00eeff]  text-white shadow-lg hover:scale-105 duration-200 rounded-lg  px-3 flex items-center gap-2 cursor-pointer">{{skill.name}}</span>

    }
</div>
<hr>
  <div class=" mt-8 flex justify-end">
    
    <app-reusablebutton></app-reusablebutton>
  </div>
</div>
