<section id="Projects" class="shadow-[0_0_20px_#00eaff] container mx-auto rounded-3xl my-20 text-center py-24 overflow-hidden">
    
  <h2 data-aos="fade-down"  class="text-4xl italic maincolor font-bold mb-10">
    My Projects
  </h2>

  <p data-aos="fade-right" data-aos-delay="500"
     class="font-medium text-center text-2xl text-white dark:text-black pb-16 px-16 line-coverage">
    A collection of real-world projects built with modern tools, clean architecture, and high-quality code.
  </p>

  <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto items-center px-5 py-10">
@for (p of products; track $index) {
  <div 
  class="text-white dark:text-black border-2 border-[#00eeff] rounded-3xl p-8 shadow-2xl bg-[#323946] dark:bg-white 
         hover:shadow-[0_0_20px_#00eaff] transition flex flex-col 
          min-h-[600px]"
  [attr.data-aos]="p.aos" 
  [attr.data-aos-delay]="$index * 300">

  <!-- Image -->
  <img [src]="p.image" alt="{{ p.name }} screenshot" 
       class="w-full h-52 object-cover rounded-3xl mb-4"/>

  <!-- Title -->
  <h3 class="text-xl font-semibold maincolor mb-4">{{ p.name }}</h3>

  <!-- Description -->
  <p class="text-base mb-6 flex-grow">
    {{ p.desc }}
  </p>

  <!-- Tech -->
  <div class="flex flex-wrap justify-center gap-2 mb-6">
    @for (t of p.tech; track $index) {
      <span 
        class="px-3 py-1 text-[#00eeff] rounded-full border border-[#00eeff] text-sm">
        {{ t }}
      </span>
    }
  </div>

  <!-- Buttons -->
<div class="flex items-center justify-center gap-6">
  
  @if (p.live) {
    <a [href]="p.live" target="_blank"
       class="px-4 py-2 rounded-full border bg-[#00eeff] text-white border-[#00eeff] hover:bg-transparent hover:text-[#00eeff] transition">
      Live Demo
    </a>
  }

  <a [href]="p.github" target="_blank"
     class="px-4 py-2 rounded-full border bg-[#00eeff] text-white border-[#00eeff] hover:bg-transparent hover:text-[#00eeff] transition">
    GitHub
  </a>

</div>
</div>


}


  </div>
</section>

