<section class="mt-36 relative">
  <div class="shadow-2xl py-10 bg-gradient-to-r from-[#1f262f] via-[#323946] to-[#1f262f] relative overflow-hidden rounded-t-3xl">

    <div class="absolute top-8 left-5 w-3 h-3 bg-[#00eeff] rounded-full animate-float1"></div>
    <div class="absolute top-8 right-10 w-3 h-3 bg-[#00eeff] rotate-45 animate-float2"></div>
    <div class="absolute bottom-14 left-12 w-3 h-3 bg-[#00eeff] rounded-sm animate-float3"></div>
    <div class="absolute bottom-14 right-16 w-3 h-3 bg-[#00eeff] rounded-full animate-float4"></div>
    <div class="absolute bottom-4 left-24 w-2 h-2 bg-[#00eeff] animate-float5"></div>
    <div class="absolute bottom-4 right-24 w-2 h-2 bg-[#00eeff] rounded-full animate-float4"></div>
    <div class="flex items-center justify-center text-white relative z-10">
      <p class="text-2xl italic animate-text-bounce-x text-center">
  ✨© 2025 <span class="text-[#00eeff] font-semibold">Esraa Samy</span>. All rights reserved.✨
</p>
    </div>
  </div>
</section>



