.icon-wrapper {
  transition: transform 0.7s ease;

  &:hover {
    transform: scale(1.25);
  }
}


.service-card {
  transition: transform 0.9s ease, box-shadow 0.7s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #00eaff; // سيان خفيف
}
}