.nav-link {
  position: relative;
  display: inline-block;
    font-family: "Montserrat", sans-serif;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 3px;
  background-color: #00eeff;
  transition: width 0.3s ease-in-out;
}
.nav-link:hover{
    color:#00eeff;
}
.nav-link:hover::after {
  width: 100%;
  
}
.nav-link.active::after {
  width: 100%;
}
.nav-link.active {
  color: #00eeff; 
}